.home {
  padding-bottom: 50Px;
  box-sizing: border-box;
  height: 100vh;
}
.swiper-container {
  height: 60vw;
  .swiper-card {
    .swiper-image {
      width: 100%;
    }
  }
}

.list {
  margin-top: 20px;
  background-color: #fff;
  .article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 93vw;
    margin: 0 auto;
    padding: 3.2vw 0;
    border-bottom: 1px solid #ddd;
    .cover {
      width: 27vw;
      height: 20vw;
      margin-right: 5vw;
      border-radius: 4Px;
    }
    .content {
      width: 70vw;
      height: 20vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        color: #3e3e3e;
        font-size: 16Px;
      }
      .number {
        color: #8f8f8f;
        font-size: 12Px;
      }
    }
  }
}
