@import '../../components/wxParse/wxParse.wxss';

.article {
  width: 100vw;
  height: 100vh;
  .article-cover {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: -1;
    .article-cover-image {
      width: 100vw;
    }
  }
  .article-scroll {
    color: #333;
    width: 100vw;
    height: 100vh;
    .article-title {
      font-size: 20Px;
      text-align: left;
      margin-bottom: 10Px;
    }
    .article-subtitle {
      display: flex;
      font-size: 14Px;
      color: #888;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 24Px;
      .article-subtitle-item {
        margin-right: 16Px;
        .item {
          margin-left: 4Px;
        }
      }
    }
    .content {
      margin-top: 60vw;
      width: 100vw;
      background-color: #fff;
      border-top-left-radius: 20rpx;
      border-top-right-radius: 20rpx;
      padding: 20PX;
      box-sizing: border-box;
    }
  }
}

.highlight, pre {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  color: #c5c8c6;
  font-size: 13px;
  background: #1d1f21;
  line-height: 1.6;
}

.wxParse-figure {
  position: relative;
  clear: both;
  outline: 0;
  margin: 10px 0;
}
